@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;1,700&display=swap');
body{
    font-family: 'Karla', sans-serif;
}
.join{
    color: hsl(179, 62%, 43%)
}
.thirty{
    color: hsl(71, 73%, 54%);
}
.gain{
    color: hsl(218, 22%, 67%);
}
.left{
    color: hsl(204, 43%, 93%);
    background-color:hsl(179, 62%, 43%);
}
.right{
    background-color: rgb(79, 201, 199);
    color: hsl(204, 43%, 93%);
}
.sign{
    background-color: hsl(71, 73%, 54%);
}

/* No tailwind Styles */
body{
    background-color: hsl(0, 0%, 95%);
}
p{
    margin-bottom: 1%;
}
.first{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40%;
    margin: 5% 30% 0 30%;
    padding: 1.5% 3%;
    border-radius: 10px 10px 0 0;
}
.first h2{
    font-size: 30px;
    margin-bottom: 5%;
    color: hsl(179, 62%, 43%)
}
.first p:nth-of-type(1){
    font-size: 22px;
    color: hsl(71, 73%, 54%)
}
.first p:nth-of-type(2){
    font-size: 20px;
    color: hsl(200, 3%, 19%);
    line-height: 40px;
}
/* .second{
    background-color: hsl(179, 62%, 43%);
    margin: 0 30% 0 30%;
    width: 40%;
    padding: 1.5% 3%; 
    border-radius: 0 0 10px 10px;
    border-radius: ;
} 
*/
.secondLeft, .secondRight{
    width: 50%;
    padding: 2%;
    font-size: ;
}


@media (max-width: 320px) {
    body{
        background-color: red;
        flex-direction: row;
    }
    .first{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%; 
    }
}
.second{
    flex-direction: row;
}