@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root{
    --background: hsl(218, 28%, 13%);
    --headerText: hsl(0, 0%, 100%);
    --cyan: hsl(176, 68%, 64%);
}
*{
    /* border: 1px solid brown; */
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--background);
    color: var(--headerText);
}
header{
    margin: 2.5% 5% 0 5%;
    display: flex;
    height: 15vw;
}
header img{
    width: 100px;
    height: 30px;
    margin: 5% 10% 0 5%;
}
nav{
    width: 100%;
    margin: 2.5% 5% 0 auto;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
nav ul li{
    margin-left: 10%;
    color: #FDFDFD;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
main{
    /* display: flex;
    flex-direction: columns;
    justify-content: center; */
    margin-left: 5%;
    margin-right: 5%;
}
.first{
    margin: 5% 5% 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.illustration-intro{
    width: 74vw;
    margin-left: 8%;
    margin-right: 8%;
}
.allHead{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    margin-top: 15%;
}
.smallFylo{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    letter-spacing: .5px;
}
button{
    background: var(--cyan);
    height: 55px;
    width: 70%;
    border-radius: 50px;
    border: none;
    color: #FDFDFD;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-left: 15%;
    margin-right: 15%;
}

/*complete later*/