@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
@media screen and (min-width: 325px){
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    background: var(--SoftestRed);
    /* height: 100vh; */
}
*{
    /* border: 0.2px solid red; */
}
.desktopHero{
    display: none;
}
:root{
    --DesaturatedRed: hsl(0, 36%, 70%);
    --DarkGrayishRed: hsl(0, 6%, 24%);
    --SoftRed: hsl(0, 93%, 68%);
    --SoftestRed: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heroLogo{
    padding: 6% 10%;
    display: block;
}
.heroImages, .mobileHero{
    width: 100%;
}
.Text{
    margin-top: 3%;
}
.WeText p{
    font-size: 3em;
    text-transform: uppercase;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: 200;
    margin-bottom: 5%;
    letter-spacing: 1rem;
    text-align: center;
    color: var(--DesaturatedRed);
}

.WeText span{
    font-weight: 600;
    color: var(--DarkGrayishRed);
}
.HelloText p{
    margin: 0 15% 8% 15%;
    text-align: center;
    line-height: 1.8rem;
    color: var(--DesaturatedRed);
}
.input{
    display: block;
    width: 300px;
    height: 45px;
    border-radius: 25px;
    border: 1px solid var(--DarkGrayishRed);
    background: var(--SoftestRed);
}
button .button{
    display: absolute;
    right: 10%;
}
}
@media screen and (min-width: 1440px){
    body{
        background: url(images/bg-pattern-desktop.svg);
    }
    *{
        /* border: 1px solid red; */
    }
    .heroImages{
        display: inline-flex;
        width: 42%;
    }
    .desktopHero{
        display: inline;
        position: absolute;
        top: 0;
        right: 0;
        width: 42%;
        height: 100vh;
    }
    
    .mobileHero{
        display: none;
    }
    .Text, .heroLogo{
        width: 45%;
    }
    .heroLogo{
        padding: 0;
        margin: 5% 0 0 12%;
    }
    .Text{

    }
    main{
        justify-content: flex-start;
    }
    .WeText p{
        text-align: left;
        width: 45%;
        margin-left: 10%;
        margin-right: 12%;
        font-size: 4.5em;
        line-height: 6rem;
    }
    .WeText span{
        line-height: 5rem;
    }
    .HelloText{
        margin: 5% 5% 0 12%;
        text-align: left;
        justify-content: left;
        width: 100%;
    }
}

/* This project should be completed later*/

